.card-div {
    display: flex;
    justify-content: center;
}

.card-page {
    margin-top: 4rem;
    width: 80%;
    /* background-color: bisque; */
}

.bread-crumbs {
    margin-top: 3rem;
}

.cards-grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
}

@media (max-width: 600px) {
    .card-div {
        overflow-x: hidden;
    }
    
    .card-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin-top: 1rem;
    }
    .cards-grid {
        grid-template-columns: auto;
    }

    .bread-crumbs { 
        margin-top: 1rem;
    }
}

@media (max-width: 1000px) and (min-width: 600px){
    .card-div {
        overflow-x: hidden;
    }
    
    .card-page {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        width: 60%;
        margin-top: 4rem;
        /* background-color: red; */
    }
    .cards-grid {
        grid-template-columns: auto auto;
        
    }

    .bread-crumbs { 
        margin-top: 1rem;
    }
}